{% extends 'core/base.html' %}

{% block title %} Transactions | {{ block.super }}{% endblock title %}

{% block content %}
{% include "core/messages.html" %}


    <div >
        <div >
            <div >
                <div>
                                        <!--Page Content-->
                        <div >
        <div class="col-xl-12">
            <div class="site-card">
                <div class="site-card-header">
                    <h3 class="title">All The Badges</h3>
                </div>
                <div >
                    <div class="row justify-content-center">
                                                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12">
                                <div class="single-badge ">
                                    <div class="badge">
                                        <div class="img"><img src="https://ivcoinex.ltd/assets/global/images/sCQgIyl0OKzFiO73nmWF.svg" alt=""></div>
                                    </div>
                                    <div class="content">
                                        <h3 class="title">Hyip Member</h3>
                                        <p class="description">By signing up to the account</p>
                                    </div>
                                </div>
                            </div>
                                                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12">
                                <div class="single-badge  locked ">
                                    <div class="badge">
                                        <div class="img"><img src="https://ivcoinex.ltd/assets/global/images/TQDUvbD48kmhmV9qifzh.svg" alt=""></div>
                                    </div>
                                    <div class="content">
                                        <h3 class="title">Hyip Leader</h3>
                                        <p class="description">By earning $50 from the site</p>
                                    </div>
                                </div>
                            </div>
                                                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12">
                                <div class="single-badge  locked ">
                                    <div class="badge">
                                        <div class="img"><img src="https://ivcoinex.ltd/assets/global/images/hGHllGGCIYfpx5Z2VKrW.svg" alt=""></div>
                                    </div>
                                    <div class="content">
                                        <h3 class="title">Hyip Captain</h3>
                                        <p class="description">By earning $200 from the site</p>
                                    </div>
                                </div>
                            </div>
                                                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12">
                                <div class="single-badge  locked ">
                                    <div class="badge">
                                        <div class="img"><img src="https://ivcoinex.ltd/assets/global/images/SaNfYL7WD2pzAAME8Sqb.svg" alt=""></div>
                                    </div>
                                    <div class="content">
                                        <h3 class="title">Hyip Victor</h3>
                                        <p class="description">By earning $500 from the site</p>
                                    </div>
                                </div>
                            </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>

                    <!--Page Content-->
                </div>
            </div>
        </div>
    </div>

{% endblock content %}