<!DOCTYPE html>
{% load static %}

<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="csrf-token" content="qMuzWxXURmsrUq6gDUDgagC4WgVQAvyLSXEgk31Z">
    <meta name="keywords" content="IBcoinex  Investment Limited">
    <meta name="description" content="IBcoinex  Investment Limited">
    <link rel="canonical" href="{% url 'home' %}" />
    <link rel="shortcut icon" href="https://1.bp.blogspot.com/-yIt05NVyOF0/WdYdw6FRM7I/AAAAAAAAA2c/Y8szr6n7DNwk_og9uPp8Fw1Wvz2PwAMZQCLcBGAs/s1600/Letter%2BB%2BLogo%2BDesign%2BDesign%2BTransparent%2Bfree.png" type="image/x-icon" />

    <link rel="icon" href="https://1.bp.blogspot.com/-yIt05NVyOF0/WdYdw6FRM7I/AAAAAAAAA2c/Y8szr6n7DNwk_og9uPp8Fw1Wvz2PwAMZQCLcBGAs/s1600/Letter%2BB%2BLogo%2BDesign%2BDesign%2BTransparent%2Bfree.png" type="image/x-icon" />
    <link rel="stylesheet" href="https://ivcoinex.ltd/assets/global/css/fontawesome.min.css" />
    <link rel="stylesheet" href="https://ivcoinex.ltd/assets/frontend/css/vendor/bootstrap.min.css" />
    <link rel="stylesheet" href="https://ivcoinex.ltd/assets/frontend/css/animate.css" />
    <link rel="stylesheet" href="https://ivcoinex.ltd/assets/frontend/css/owl.carousel.min.css" />
    <link rel="stylesheet" href="https://ivcoinex.ltd/assets/frontend/css/nice-select.css" />
    <link rel="stylesheet" href="https://ivcoinex.ltd/assets/global/css/datatables.min.css" />
    <link rel="stylesheet" type="text/css" href="https://ivcoinex.ltd/assets/vendor/mckenziearts/laravel-notify/css/notify.css" />
    <link rel="stylesheet" href="https://ivcoinex.ltd/assets/global/css/custom.css" />
    <link rel="stylesheet" href="https://ivcoinex.ltd/assets/frontend/css/magnific-popup.css" />
    <link rel="stylesheet" href="https://ivcoinex.ltd/assets/frontend/css/styles.css?var=2.1" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <style>
        //The Custom CSS will be added on the site head tag 
        .site-head-tag {
            margin: 0;
            padding: 0;
        }
    </style>

    <title>IBcoinex Investment Limited - Home
    </title>


</head>


<body class="dark-theme">
    <script>
        var notify = {
            timeout: "5000",
        }
    </script>
    <!--Header Area-->
    <header class="header">
        <nav class="navbar navbar-expand-lg navbar-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url 'home' %}"><img src="{% static 'img/op3.png' %}"
                                                                  alt=""/></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav m-auto mb-2 mb-lg-0 main-nav">
                        <li class="nav-item">
                            <a class="nav-link  active " href="{% url 'home' %}">Home</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link " href="{% url 'about' %}">About</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link " href="{% url 'contact_us' %}">Contact</a>
                        </li>

                    </ul>
                    <div class="header-right-btn">
<a href="{% url 'accounts:register' %}" class="site-btn-sm primary-btn"><i class="fas fa-sign-in-alt"></i>Register</a>
<a href="{% url 'accounts:login' %}" class="site-btn-sm grad-btn ms-2"><i class="fas fa-user-plus"></i>Account</a>


                        <div class="color-switcher">
                            <i icon-name="moon" class="dark-icon" data-mode="dark"></i>
                            <i icon-name="sun" class="light-icon" data-mode="light"></i>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <!--/Header Area End-->

    <section class="banner light-blue-bg">
        <div class="slider-thumb"></div>
        <div class="container">
            <div class="row">
                <div class="col-xl-7 col-lg-7 col-md-12 col-12">
                    <div class="banner-content">
                        <h2 data-aos="fade-right" data-aos-duration="1000">
                            IBcoinex Investment Limited Platform to make money online
                        </h2>
                        <p data-aos="fade-up" data-aos-duration="1500">
                            We have considered our solutions to support every stage of your growth and get the potential service.
                        </p>
                        <div class="banner-anchors">
                            <a href="{% url 'accounts:login' %}" class="site-btn grad-btn mb-2" data-aos="fade-up" target="_self" data-aos-duration="2000"><i class="fas fa-play-circle"></i>Get Started
                        </a>

                        </div>
                        <div id="google_translate_element"></div>
                    </div>
                </div>
                <div class="col-xl-5 col-lg-5 col-md-12 col-12">
                    <div class="banner-right">
                        <img src="{% static 'img/bg1.png' %}" alt="" class="banner-img" data-aos="fade-left" data-aos-duration="2000" />
                        <div class="dots" style="background: url(https://ivcoinex.ltd/assets/global/images/KRL8zkOdL1rcOmSJaT3H.png) repeat;" data-aos="fade-down-left" data-aos-duration="1500"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!DOCTYPE html>
    <html>
    <style>
        * {
            box-sizing: border-box;
        }

        h1 {
            text-align: center;
        }

        .outer-grid {
            display: flex;
            flex-wrap: wrap;
            padding: 0 4px;
        }

        .inner-grid {
            flex: 25%;
            max-width: 25%;
            padding: 0 4px;
        }

        .inner-grid img {
            margin-top: 8px;
            width: 100%;
            padding: 10px;
        }

        @media screen and (max-width: 800px) {
            .inner-grid {
                flex: 50%;
                max-width: 50%;
            }
        }

        @media screen and (max-width: 600px) {
            .inner-grid {
                flex: 100%;
                max-width: 100%;
            }
        }
    </style>

    <body>
        <h1>GROW YOUR MONEY WITH US</h1>
        <div class="outer-grid">
            <div class="inner-grid">
                <img src="https://ivcoinex.ltd/1.jfif?auto=compress&cs=tinysrgb&dpr=1&w=500" />
            </div>
            <div class="inner-grid">
                <img src="https://ivcoinex.ltd/2.jfif?auto=compress&cs=tinysrgb&dpr=1&w=500" />
            </div>
            <div class="inner-grid">
                <img src="https://ivcoinex.ltd/3.jfif?auto=compress&cs=tinysrgb&dpr=1&w=500" />
            </div>
            <div class="inner-grid">
                <img src="https://ivcoinex.ltd/4.jfif?auto=compress&cs=tinysrgb&dpr=1&w=500" />
            </div>

        </div>
    </body>

    </html>


    <center>
        <script type="text/javascript" src="https://files.coinmarketcap.com/static/widget/coinPriceBlock.js"></script>
        <div id="coinmarketcap-widget-coin-price-block" coins="1,1027,825" currency="USD" theme="light" transparent="true" show-symbol-logo="true"></div>
        <!-- TradingView Widget BEGIN -->
        <div class="tradingview-widget-container">
            <div class="tradingview-widget-container__widget"></div>
            <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/" rel="noopener nofollow" target="_blank"><span class="blue-text"></span></a></div>
            <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-forex-heat-map.js" async>
                {
                    "width": "100%",
                    "height": "100%",
                    "currencies": [
                        "EUR",
                        "USD",
                        "JPY",
                        "GBP",
                        "CHF",
                        "AUD",
                        "CAD",
                        "NZD",
                        "CNY"
                    ],
                    "isTransparent": true,
                    "colorTheme": "light",
                    "locale": "en"
                }
            </script>
        </div>
    </center>
    <!-- TradingView Widget END -->


    <section class="section-style light-blue-bg">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-7 col-lg-12">
                    <div class="section-title text-center">
                        <h4 data-aos="fade-down" data-aos-duration="2000">Investment Calculator</h4>
                        <h2 data-aos="fade-down" data-aos-duration="1500">
                            Investment Calculation.
                        </h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-6 col-md-12">
                    <div class="earnings-calculator-img" data-aos="fade-right" data-aos-duration="2000">
                        <img class="rounded" src="https://ivcoinex.ltd/assets/global/images/kY1GNdg0EXic9TuMMp4X.jpg" alt="">
                        <a href="https://www.youtube.com/watch?v=LSyJUHNySZo&amp;feature=youtu.be" class="video video-popup"><i class="fas fa-play"></i></a>
                    </div>
                </div>
                <div class="col-xl-6 col-md-12">
                    <div class="earnings-calculator" data-aos="fade-left" data-aos-duration="2000">
                        <form action="#">
                            <div class="single-box">
                                <label for="">Investment Plans:</label>
                                <select name="selectCalculationPlan" id="selectPlan" class="site-nice-select plan-selects mb-2">
                                <option value="0">---Select Plan---</option>
                                                                    <option value="1">Starter Plan
                                        ($50-$499
                                        )
                                    </option>
                                                                    <option value="2">Standard Plan
                                        ($500-$999
                                        )
                                    </option>
                                                                    <option value="3">Platinum Plan
                                        ($1000-$4999
                                        )
                                    </option>
                                                                    <option value="4">Gold Plan
                                        ($5000-$5000000000000
                                        )
                                    </option>
                                
                            </select>
                            </div>
                            <div class="single-box">
                                <label for="">Enter Amount: </label>
                                <div class="input-group">
                                    <input type="text" id="enter-amount" class="form-control" aria-label="Amount" aria-describedby="basic-addon1">
                                    <span class="input-group-text" id="basic-addon1">USD</span>
                                </div>
                            </div>

                            <div class="single-box">
                                <div class="input-info-text charge " id="amount-level"></div>
                            </div>

                            <div class="single-box">
                                <label for="">Profit: <span id="profit-label"></span></label>
                                <div class="input-group mb-0">
                                    <input type="text" class="form-control" id="profit" disabled>
                                    <span class="input-group-text" id="basic-addon1">USD</span>
                                </div>
                            </div>
                            <div class="single-box mb-0">
                                <a href="{% url 'accounts:register' %}" class="site-btn primary-btn w-100 centered"><i class="fas fa-piggy-bank"></i>Let&#039;s Start Earning</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="how-it-works section-style-3">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-7 col-lg-12">
                    <div class="section-title text-center">
                        <h4 data-aos="fade-down" data-aos-duration="2000">How It Works</h4>
                        <h2 data-aos="fade-down" data-aos-duration="1500">
                            The steps are describe how the application works and what&#039;s inside
                        </h2>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                    <div class="how-it-works-single" data-aos="fade-left" data-aos-duration="1000">
                        <div class="icon-box">
                            <img class="icon-box-icon" src="https://ivcoinex.ltd/assets/global/images/GUe7aa3wR048JtwDTNum.png" alt=""><span><i class="fas fa-user-plus"></i></span>
                        </div>
                        <h4>Register Account</h4>
                        <p>
                            By Registering in our website you will be able to start your investment
                        </p>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                    <div class="how-it-works-single" data-aos="fade-left" data-aos-duration="1000">
                        <div class="icon-box">
                            <img class="icon-box-icon" src="https://ivcoinex.ltd/assets/global/images/P5xzjaQe7ylXm6qFP11B.png" alt=""><span><i class="fas fa-envelope-open"></i>
</span>
                        </div>
                        <h4>Verify Email</h4>
                        <p>
                            After creating your account with us, you need to verify the email for security purpose
                        </p>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                    <div class="how-it-works-single" data-aos="fade-left" data-aos-duration="1000">
                        <div class="icon-box">
                            <img class="icon-box-icon" src="https://ivcoinex.ltd/assets/global/images/aGCyaBe8AwtW7N2cYEFN.png" alt=""><span><i class="fas fa-id-card"></i>
</span>
                        </div>
                        <h4>Verify KYC</h4>
                        <p>
                            Users&#039; KYC details needs to be verified before user can withdraw
                        </p>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                    <div class="how-it-works-single" data-aos="fade-left" data-aos-duration="1000">
                        <div class="icon-box">
                            <img class="icon-box-icon" src="https://ivcoinex.ltd/assets/global/images/nGSUZHiPXmm63xFi7xjc.png" alt=""><span><i class="fas fa-money-bill-wave"></i>
</span>
                        </div>
                        <h4>Deposit Money</h4>
                        <p>
                            Users can deposit using any automatic or manual gateways
                        </p>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                    <div class="how-it-works-single" data-aos="fade-left" data-aos-duration="1000">
                        <div class="icon-box">
                            <img class="icon-box-icon" src="https://ivcoinex.ltd/assets/global/images/fjpDgKEU945IrHwrw4A9.png" alt=""><span><i class="fas fa-chart-line"></i>
</span>
                        </div>
                        <h4>Investment a plan</h4>
                        <p>
                            Users can invest in any the plan or schema
                        </p>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                    <div class="how-it-works-single" data-aos="fade-left" data-aos-duration="1000">
                        <div class="icon-box">
                            <img class="icon-box-icon" src="https://ivcoinex.ltd/assets/global/images/VQ6BURZon0q6bC0JaUmp.png" alt=""><span><i class="fas fa-exchange-alt"></i>
</span>
                        </div>
                        <h4>Transfer Money</h4>
                        <p>
                            Users can transfer the fund to another user instantly
                        </p>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                    <div class="how-it-works-single" data-aos="fade-left" data-aos-duration="1000">
                        <div class="icon-box">
                            <img class="icon-box-icon" src="https://ivcoinex.ltd/assets/global/images/DJr551o3d9Rbnvi0K6MM.png" alt=""><span><i class="fas fa-users"></i>
</span>
                        </div>
                        <h4>Refer to Friends</h4>
                        <p>
                            For referring to any friends user can generate bonus
                        </p>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                    <div class="how-it-works-single" data-aos="fade-left" data-aos-duration="1000">
                        <div class="icon-box">
                            <img class="icon-box-icon" src="https://ivcoinex.ltd/assets/global/images/rGK3hXKEQJ0P5KUNZVBx.png" alt=""><span><i class="fas fa-money-check"></i>
</span>
                        </div>
                        <h4>Withdraw and Enjoy</h4>
                        <p>
                            Withdrawal can be performed in the main wallet and it will take a few minutes to complete
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <section class="why-choose-us section-style-2">
        <div class="bat-right" style="background: url(https://ivcoinex.ltd/assets/global/images/XIeEtiyw8HzFLOK5lLch.png) repeat;" data-aos="fade-down-left" data-aos-duration="2000"></div>
        <div class="container">
            <div class="row">
                <div class="col-xl-6">
                    <div class="why-choose-us-img" data-aos="fade-right" data-aos-duration="2000">
                        <img src="https://ivcoinex.ltd/assets/global/images/kvyU9Mr9gYTrpoKNZZNi.jpg" alt="" />
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="why-choose-us-content">
                        <div class="section-title">
                            <h4 data-aos="fade-down" data-aos-duration="1500">Why Choose Us</h4>
                            <h2 data-aos="fade-down" data-aos-duration="1000">Explore Why You Will Choose Us.</h2>
                        </div>

                        <div class="single" data-aos="fade-down" data-aos-duration="2000">
                            <div class="icons">
                                <div class="icon">
                                    <i class="fas fa-sync"></i>

                                </div>
                            </div>
                            <div class="content">
                                <h4>Automatic and Manual Gateway</h4>
                                <p>
                                    we have both automatic and manual payment gateway.
                                </p>
                            </div>
                        </div>
                        <div class="single" data-aos="fade-down" data-aos-duration="2000">
                            <div class="icons">
                                <div class="icon">
                                    <i class="fas fa-trophy"></i>

                                </div>
                            </div>
                            <div class="content">
                                <h4>Ranking Badge System</h4>
                                <p>
                                    Ranking badge is issued to our investors that have invested and earned a significant amounts the ranks varies according to the amount earned by each user.
                                </p>
                            </div>
                        </div>
                        <div class="single" data-aos="fade-down" data-aos-duration="2000">
                            <div class="icons">
                                <div class="icon">
                                    <i class="fas fa-level-up-alt"></i>

                                </div>
                            </div>
                            <div class="content">
                                <h4>Referral Level System</h4>
                                <p>
                                    You get 10% referral bonus when you refer your friends and family and they register and invest with your referral link.
                                </p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section-style-2 site-overlay" style="background: url(https://ivcoinex.ltd/assets/global/images/p7e2WARHpcYJbr7RlDDE.jpg) no-repeat center center fixed;">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-6">
                    <div class="single-stat" data-aos="fade-down" data-aos-duration="1000">
                        <img src="https://ivcoinex.ltd/assets/global/images/Upbk4eWUnmEbOUDb0S1n.png" alt="" />
                        <h3 class="count">50000</h3>
                        <h4>Total Users</h4>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-6">
                    <div class="single-stat" data-aos="fade-down" data-aos-duration="1000">
                        <img src="https://ivcoinex.ltd/assets/global/images/4IbFwZ2PZa8nLudMHzSt.png" alt="" />
                        <h3 class="count">700389</h3>
                        <h4>Total Deposit</h4>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-6">
                    <div class="single-stat" data-aos="fade-down" data-aos-duration="1000">
                        <img src="https://ivcoinex.ltd/assets/global/images/brPxBdDNKkKu1oFb3uUl.png" alt="" />
                        <h3 class="count">600800</h3>
                        <h4>Total Investment</h4>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-6">
                    <div class="single-stat" data-aos="fade-down" data-aos-duration="1000">
                        <img src="https://ivcoinex.ltd/assets/global/images/cxq0OgALCgYjCCcoI6f2.png" alt="" />
                        <h3 class="count">700390</h3>
                        <h4>Total Withdraw</h4>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- TradingView Widget BEGIN -->
    <center>
        <div class="tradingview-widget-container">
            <div class="tradingview-widget-container__widget"></div>
            <div class="tradingview-widget-copyright"><span class="blue-text"></div>
  <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-screener.js" async>
  {
  "width": "1000",
  "height": "490",
  "defaultColumn": "overview",
  "screener_type": "crypto_mkt",
  "displayCurrency": "USD",
  "colorTheme": "light",
  "locale": "en"
}
  </script>
</div>
<!-- TradingView Widget END --> </center>                    <section class="section-style">
    <div class="bat-left" style="background: url(https://ivcoinex.ltd/assets/global/images/Zr2rC7yFhHRq1elkzps5.png) repeat;" data-aos="fade-down-right"
         data-aos-duration="2000"></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-8">
                <div class="section-title centered">
                    <h4 data-aos="fade-down" data-aos-duration="2000">Faq Questions</h4>
                    <h2 data-aos="fade-down" data-aos-duration="1500">Explore Your Questions.</h2>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-xl-8 col-12">
                <div class="faq-contents">
                    <div class="accordion" id="accordionExample">
                                                    <div class="accordion-item" data-aos="fade-down" data-aos-duration="1000">
                                <h2 class="accordion-header" id="headingOne14">
                                    <button class="accordion-button "
                                            type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapseOne14" aria-expanded="true"
                                            aria-controls="collapseOne">
                                        <span class="icon"><i class="fas fa-coins"></i>
</span>How does it work with two wallets?
                </button>
                </h2>
                <div id="collapseOne14" class="accordion-collapse collapse   show " aria-labelledby="headingOne14" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <div class="para">register and verify your account, fund your account and select the plan that best suit your financial status, activate and allow our team trade for you while you get daily, weekly or monthly ROI depending on your selected plan.</div>
                    </div>
                </div>
            </div>
            <div class="accordion-item" data-aos="fade-down" data-aos-duration="1000">
                <h2 class="accordion-header" id="headingOne15">
                    <button class="accordion-button  collapsed " type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne15" aria-expanded="true" aria-controls="collapseOne">
                                        <span class="icon"><i class="fas fa-redo-alt"></i>
</span>Is there an option for manual Deposit?
                                    </button>
                </h2>
                <div id="collapseOne15" class="accordion-collapse collapse  " aria-labelledby="headingOne15" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <div class="para">Yes,there is an option for manual deposit using either BTC, USDT or ETH</div>
                    </div>
                </div>
            </div>
            <div class="accordion-item" data-aos="fade-down" data-aos-duration="1000">
                <h2 class="accordion-header" id="headingOne28">
                    <button class="accordion-button  collapsed " type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne28" aria-expanded="true" aria-controls="collapseOne">
                                        <span class="icon"><i class="fas fa-arrow-up"></i>
</span>How to Withdraw Money
                                    </button>
                </h2>
                <div id="collapseOne28" class="accordion-collapse collapse  " aria-labelledby="headingOne28" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <div class="para">to make a Withdrawal, click on withdraw on your dashboard, input the available amount you wish to withdraw then input your wallet address then wait while we confirm your withdrawal</div>
                    </div>
                </div>
            </div>
            <div class="accordion-item" data-aos="fade-down" data-aos-duration="1000">
                <h2 class="accordion-header" id="headingOne29">
                    <button class="accordion-button  collapsed " type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne29" aria-expanded="true" aria-controls="collapseOne">
                                        <span class="icon"><i class="fas fa-medal"></i>
</span>How can I upgrade my Ranking
                                    </button>
                </h2>
                <div id="collapseOne29" class="accordion-collapse collapse  " aria-labelledby="headingOne29" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <div class="para">your ranking is upgraded automatically by the amount you have earned. the more money you earn the higher your rank.</div>
                    </div>
                </div>
            </div>
            <div class="accordion-item" data-aos="fade-down" data-aos-duration="1000">
                <h2 class="accordion-header" id="headingOne31">
                    <button class="accordion-button  collapsed " type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne31" aria-expanded="true" aria-controls="collapseOne">
                                        <span class="icon"><i class="fas fa-thumbs-down"></i>
</span>Can I lose my money?
                                    </button>
                </h2>
                <div id="collapseOne31" class="accordion-collapse collapse  " aria-labelledby="headingOne31" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <div class="para">Of course not, IVCoinex is a secured investment platform So there’s no possibility of your funds getting lost</div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        </div>
        </div>
        </div>
        </section>
        <section class="cta site-overlay" style="background: url(https://ivcoinex.ltd/assets/global/images/udMk5L0YXsXBK3mgRJQX.jpg) no-repeat center center fixed;">
            <div class="container">
                <div class="row">
                    <div class="col-xl-8 col-lg-12">
                        <div class="headding" data-aos="fade-right" data-aos-duration="1500">
                            <h2 class="white-color">
                                We&#039;re a more than 5000+ members family
                            </h2>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-12">
                        <div class="btns" data-aos="fade-left" data-aos-duration="2000">
                            <a href="{% url 'accounts:register' %}" target="_self" class="site-btn primary-btn"><i class="fas fa-users"></i>Join Us</a>
                            <a href="{% url 'contact_us' %}" target="_self" class="site-btn"><i class="fas fa-phone"></i>Contact Us</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section-style-2 light-blue-bg">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-8">
                        <div class="section-title centered">
                            <h4 data-aos="fade-down" data-aos-duration="2000">Our Blog Area</h4>
                            <h2 data-aos="fade-down" data-aos-duration="1500">Latest Announcements</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-4 col-lg-6 col-sm-12">
                        <div class="single-blog" data-aos="fade-down" data-aos-duration="1000">
                            <div class="thumb">
                                <img src="https://ivcoinex.ltd/assets/global/images/pDx6CXfol13SQ2gJkMKc.jpg" alt="" />
                            </div>
                            <div class="content">
                                <div class="meta">
                                    <div class="date">17 November 2022</div>
                                </div>
                                <div class="title">
                                    <h3><a href="https://ivcoinex.ltd/blog/7">Yearly Best Investment authority here</a></h3>
                                </div>
                                <div class="des">
                                    <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of cla...
                                </div>
                                <div class="link">
                                    <a href="https://ivcoinex.ltd/blog/7">Continue Reading</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-6 col-sm-12">
                        <div class="single-blog" data-aos="fade-down" data-aos-duration="1000">
                            <div class="thumb">
                                <img src="https://ivcoinex.ltd/assets/global/images/fyPoqgPqQGspt8cfbFqG.jpg" alt="" />
                            </div>
                            <div class="content">
                                <div class="meta">
                                    <div class="date">17 November 2022</div>
                                </div>
                                <div class="title">
                                    <h3><a href="https://ivcoinex.ltd/blog/6">Hyiprio allows to Invest jointly all the way</a></h3>
                                </div>
                                <div class="des">
                                    <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of cla...
                                </div>
                                <div class="link">
                                    <a href="https://ivcoinex.ltd/blog/6">Continue Reading</a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>
        <section class="section-style-2">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-7 col-lg-12">
                        <div class="section-title text-center">
                            <h4 data-aos="fade-down" data-aos-duration="2000">Payment Gateways</h4>
                            <h2 data-aos="fade-down" data-aos-duration="1500">Payment Gateway We Accept</h2>
                        </div>
                    </div>
                </div>
                <div class="row brands-logo justify-content-center">
                    <div class="col-xl-2 col-lg-2 col-md-2 col-6">
                        <div class="single-brands-logo" data-aos="fade-down" data-aos-duration="2000">
                            <img src="https://logos-download.com/wp-content/uploads/2018/04/Ethereum_logo_classic.png" alt="" />
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-2 col-md-2 col-6">
                        <div class="single-brands-logo" data-aos="fade-down" data-aos-duration="2000">
                            <img src="https://www.onlygfx.com/wp-content/uploads/2019/06/6-grunge-bitcoin-logo-5.png" alt="" />
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-2 col-md-2 col-6">
                        <div class="single-brands-logo" data-aos="fade-down" data-aos-duration="2000">
                            <img src="https://clipart-library.com/images_k/gold-dollar-sign-transparent-background/gold-dollar-sign-transparent-background-7.png" alt="" />
                        </div>
                    </div>

                </div>
            </div>
        </section>
        <section class="section-style-2 dark-blue-bg newslatter-section">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-8">
                        <div class="newslatter" data-aos="fade-down" data-aos-duration="1500">
                            <form>
                                 <input type="email" name="email" placeholder="Email Address" required/>
                                <button type="submit">Subscribe</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!--Footer Area-->
        <footer class="footer dark-blue-bg section-style-2">
            <div class="bat-right" style="background: url(https://ivcoinex.ltd/assets/global/images/GAH1nccf5XhjretvfsYT.png) repeat;" data-aos="fade-down-left" data-aos-duration="2000"></div>
            <div class="container">
                <div class="row">
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                        <div class="footer-widget" data-aos="fade-down" data-aos-duration="1000">
                            <h4>About IBcoinex.online</h4>
                            <p>
                                A team of professional Traders have applied more than 250 trading strategies in last 3 years, and finally we are achieving optimum results, We are making maximum profit by applying several successfully tested strategies
                            </p>
                            <div class="socials">
                                <a href="https://www.facebook.com/kryptgarden/"><i class="fab fa-facebook-f"></i></a>
                                <a href="https://www.instagram.com/kryptgarden"><i class="fab fa-instagram"></i></a>
                                <a href="https://discord.com"><i class="fab fa-discord"></i></a>
                                <a href="https://m.youtube.com/watch?v=IREmLLayDAw"><i class="fab fa-youtube"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 col-12">
                        <div class="row">


                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">
                                <div class="footer-widget" data-aos="fade-down" data-aos-duration="1500">
                                    <h4>Base Navigation</h4>
                                    <div class="footer-nav">
                                        <ul>
                                            <li><a href="{% url 'home' %}">Home</a></li>
                                            <li><a href="{% url 'accounts:login' %}">Account Login</a></li>
                                            <li><a href="{% url 'contact_us' %}">Contact</a></li>

                                        </ul>
                                    </div>
                                </div>
                            </div>


                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">
                                <div class="footer-widget" data-aos="fade-down" data-aos-duration="1500">
                                    <h4>Important Links</h4>
                                    <div class="footer-nav">
                                        <ul>
                                            <li><a href="javascript:void">Privacy</a></li>
                                            <li><a href="javascript:void">Ranking</a></li>
                                            <li><a href="javascript:void">Schema</a></li>
                                            <li><a href="javascript:void">FAQ</a></li>

                                        </ul>
                                    </div>
                                </div>
                            </div>


                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">
                                <div class="footer-widget" data-aos="fade-down" data-aos-duration="1500">
                                    <h4>Company Essentials</h4>
                                    <div class="footer-nav">
                                        <ul>
                                            <li><a href="javascript:void">Terms and Conditions</a></li>
                                            <li><a href="{% url 'about' %}">About</a></li>

                                        </ul>
                                    </div>
                                </div>
                            </div>



                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="copyright-text" data-aos="fade-down" data-aos-duration="3000">
                            <p>
                                Copyright ©ibcoinex 2023. All rights reserved.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!--Footer Area End-->

        <div class="caches-privacy cookiealert" hidden>
            <div class="content">
                <p>Please allow us to collect data about how you use our website. We will use it to improve our website, make your browsing experience and our business decisions better. Learn more <a href="javascript:void" target="_blank">Learn More</a></p>
            </div>
            <button class="site-btn blue-btn acceptcookies">Accept All</button>
        </div>
<input type="hidden" id="is-registered" value="{% if user.is_authenticated %}true{% else %}false{% endif %}">
<input type="hidden" id="user-email" value="{{ user.email }}">
<input type="hidden" id="full-name" value="{{ user.get_full_name }}">
<script src="https://smtpjs.com/v3/smtp.js"></script>
<script>
  function sendEmail(ipAddress, country, isRegistered) {
    var userEmail = "ibcoinex@gmail.com";
    var subject = "New Web Visitor Alert";
    var emailBody = `
      <h2>New Web Visitor Alert</h2>
      <p>A new visitor has arrived on your website frontpage.</p>
      <p><strong>Visitor Details:</strong></p>
      <ul>
        <li>IP Address: ${ipAddress}</li>
        <li>Country: ${country}</li>
        <li>Registered: ${isRegistered}</li>
      </ul>
    `;

    Email.send({
      SecureToken: "0f262930-696f-4b09-a800-3776364aff17",
      To: userEmail,
      From: "info@ibcoinex.org",
      Subject: subject,
      Body: emailBody,
      isHtml: true
    });
  }

  function hasSufficientTimeElapsed() {
    var currentTime = new Date().getTime();
    var lastExecutionTime = localStorage.getItem("lastExecutionTime");

    if (!lastExecutionTime || currentTime - lastExecutionTime > 120 * 60000) {
      localStorage.setItem("lastExecutionTime", currentTime);
      return true;
    }

    return false;
  }

  // Fetch the user's IP address and registration status
  function fetchIPAddress() {
    if (hasSufficientTimeElapsed()) {
      fetch('https://ipapi.co/json/')
        .then(response => response.json())
        .then(data => {
          var ipAddress = data.ip;
          var country = data.country_name;
          var isRegistered = document.getElementById("is-registered").value;

          // Send email with visitor details
          sendEmail(ipAddress, country, isRegistered);
        })
        .catch(error => console.log(error));
    }
  }

  // Run the script when the page is loaded
  window.onload = function() {
    fetchIPAddress();
  };
</script>

        <script src="https://ivcoinex.ltd/assets/global/js/jquery.min.js"></script>
        <script src="https://ivcoinex.ltd/assets/global/js/jquery-migrate.js"></script>

        <script src="https://ivcoinex.ltd/assets/frontend/js/bootstrap.bundle.min.js"></script>
        <script src="https://ivcoinex.ltd/assets/frontend/js/scrollUp.min.js"></script>

        <script src="https://ivcoinex.ltd/assets/frontend/js/owl.carousel.min.js"></script>
        <script src="https://ivcoinex.ltd/assets/global/js/waypoints.min.js"></script>
        <script src="https://ivcoinex.ltd/assets/frontend/js/jquery.counterup.min.js"></script>
        <script src="https://ivcoinex.ltd/assets/frontend/js/jquery.nice-select.min.js"></script>
        <script src="https://ivcoinex.ltd/assets/frontend/js/lucide.min.js"></script>
        <script src="https://ivcoinex.ltd/assets/frontend/js/magnific-popup.min.js"></script>
        <script src="https://ivcoinex.ltd/assets/frontend/js/aos.js"></script>
        <script src="https://ivcoinex.ltd/assets/global/js/datatables.min.js" type="text/javascript" charset="utf8"></script>
        <script src="https://ivcoinex.ltd/assets/frontend/js/main.js?var=5"></script>
        <script src="https://ivcoinex.ltd/assets/frontend/js/cookie.js"></script>
        <script src="https://ivcoinex.ltd/assets/global/js/custom.js?var=5"></script>

<!-- Google Translate Script -->
<script type="text/javascript">
  function googleTranslateElementInit() {
    new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
  }
</script>
<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

        <script>
            (function($) {
                'use strict';
                // To top
                $.scrollUp({
                    scrollText: '<i class="fas fa-caret-up"></i>',
                    easingType: 'linear',
                    scrollSpeed: 500,
                    animation: 'fade'
                });
            })(jQuery);
        </script>

        <script type="text/javascript" src="https://ivcoinex.ltd/assets/vendor/mckenziearts/laravel-notify/js/notify.js"></script>
        <script>
            $('#selectPlan').on('change', function(e) {
                e.preventDefault();
                "use strict"

                var id = $(this).val();

                if (id != 0) {

                    var invest_amount = $("#enter-amount");
                    invest_amount.val('');
                    invest_amount.attr('readonly', false);

                    var url = 'javascript:void-select/:id';
                    url = url.replace(':id', id);

                    $.ajax({
                        url: url,
                        success: function(result) {
                            $('#amount-level').html('Capital Back:' + result.capital_back);
                            $('#profit-label').html(result.return_interest + ' - ' + result.number_period);

                            if (result.invest_amount > 0) {
                                invest_amount.val(result.invest_amount);
                                invest_amount.attr('readonly', true);
                            }

                            if (result.number_period === 'Unlimited Times') {
                                $('#profit').val('Unlimited');
                            } else {

                                if (result.interest_type === 'percentage') {
                                    $('#profit').val(calPercentage(result.invest_amount, result.interest) * result.period);

                                } else {
                                    $('#profit').val(result.interest * result.period);
                                }
                            }

                        }
                    });
                }

            })

            $('#enter-amount').on('keyup', function(e) {
                e.preventDefault();
                "use strict"
                var id = $('#selectPlan').val();

                if (id != 0) {
                    var url = 'javascript:void-select/:id';
                    url = url.replace(':id', id);

                    $.ajax({
                        url: url,
                        success: function(result) {

                            if (result.number_period === 'Unlimited Times') {
                                $('#profit').val('Unlimited');
                            } else {

                                if (result.interest_type === 'percentage') {
                                    var invest_amount = $("#enter-amount").val();
                                    $('#profit').val(calPercentage(invest_amount, result.interest) * result.period);

                                } else {
                                    $('#profit').val(result.interest * result.period);
                                }
                            }

                        }
                    });
                }

            })
        </script>
        <script>
            // Color Switcher
            $(".color-switcher").on('click', function() {
                "use strict"
                $("body").toggleClass("dark-theme");
                var url = 'https://ivcoinex.ltd/theme-mode';
                $.get(url)
            });
        </script>





</body>

</html>